trentorientaService/src/main/resources/wsdl/trentorienta.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="HelloWorld"
	targetNamespace="http://smartcommunitylab.it/trentorienta/soapservice"
	xmlns:tns="http://smartcommunitylab.it/trentorienta/soapservice"
	xmlns:types="http://smartcommunitylab.it/trentorienta/soapservice"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:types>
		<xsd:schema targetNamespace="http://smartcommunitylab.it/trentorienta/soapservice"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			attributeFormDefault="unqualified" version="1.0">

			<xsd:element name="person">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="firstName" type="xsd:string" />
						<xsd:element name="lastName" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="requestList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="start" type="xsd:string" minOccurs="0" />
						<xsd:element name="size" type="xsd:string" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="responseList">
			</xsd:element>
			
			<xsd:element name="tagRequestList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="start" type="xsd:string" minOccurs="0" />
						<xsd:element name="size" type="xsd:string" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="tagResponseList">
			</xsd:element>

			<xsd:element name="greeting">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="greeting" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SayHelloInput">
		<wsdl:part name="person" element="types:person" />
	</wsdl:message>

	<wsdl:message name="SayHelloOutput">
		<wsdl:part name="greeting" element="types:greeting" />
	</wsdl:message>

	<wsdl:portType name="HelloWorld_PortType">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:SayHelloInput" />
			<wsdl:output message="tns:SayHelloOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HelloWorld_SoapBinding" type="tns:HelloWorld_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="http://smartcommunitylab.it/trentorienta/sayHello" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HelloWorld_Service">
		<wsdl:documentation>Hello World service</wsdl:documentation>
		<wsdl:port name="HelloWorld_Port" binding="tns:HelloWorld_SoapBinding">
			<soap:address
				location="http://localhost:8080/trentorienta/soapservice/service/wsdl/service.wsdl" />
		</wsdl:port>
	</wsdl:service>


	<!-- OPERATION (GET SOURCE) -->
	<wsdl:message name="GetSourceInput">
		<wsdl:part name="requestList" element="types:requestList" />
	</wsdl:message>

	<wsdl:message name="GetSourceOutput">
		<wsdl:part name="responseList" element="types:responseList" />
	</wsdl:message>

	<wsdl:portType name="GetSource_PortType">
		<wsdl:operation name="getSourceList">
			<wsdl:input message="tns:GetSourceInput" />
			<wsdl:output message="tns:GetSourceOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="GetSource_SoapBinding" type="tns:GetSource_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getSourceList">
			<soap:operation
				soapAction="http://smartcommunitylab.it/trentorienta/getSourceList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="GetSource_Service">
		<wsdl:documentation>Get event sources</wsdl:documentation>
		<wsdl:port name="GetSource_Port" binding="tns:GetSource_SoapBinding">
			<soap:address
				location="http://localhost:8080/trentorienta/soapservice/service/wsdl/service.wsdl" />
		</wsdl:port>
	</wsdl:service>
	<!-- OPERATION (GET TAG) -->
	<wsdl:message name="GetTagInput">
		<wsdl:part name="tagRequestList" element="types:tagRequestList" />
	</wsdl:message>

	<wsdl:message name="GetTagOutput">
		<wsdl:part name="tagResponseList" element="types:tagResponseList" />
	</wsdl:message>

	<wsdl:portType name="GetTag_PortType">
		<wsdl:operation name="getTagList">
			<wsdl:input message="tns:GetTagInput" />
			<wsdl:output message="tns:GetTagOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="GetTag_SoapBinding" type="tns:GetTag_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getTagList">
			<soap:operation
				soapAction="http://smartcommunitylab.it/trentorienta/getTagList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="GetTag_Service">
		<wsdl:documentation>Get tags </wsdl:documentation>
		<wsdl:port name="GetTag_Port" binding="tns:GetTag_SoapBinding">
			<soap:address
				location="http://localhost:8080/trentorienta/soapservice/service/wsdl/service.wsdl" />
		</wsdl:port>
	</wsdl:service>
	<!-- OPERATION (GET TAGS) -->

</wsdl:definitions>