trentorientaService/src/main/resources/wsdl/trentorienta.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="TrentOrienta"
	targetNamespace="http://smartcommunitylab.it/trentorienta/soapservice"
	xmlns:tns="http://smartcommunitylab.it/trentorienta/soapservice"
	xmlns:types="http://smartcommunitylab.it/trentorienta/soapservice"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:types>
		<xsd:schema targetNamespace="http://smartcommunitylab.it/trentorienta/soapservice"
			xmlns:tns="http://smartcommunitylab.it/trentorienta/soapservice"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			attributeFormDefault="unqualified" version="1.0">

			<xsd:element name="person">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="firstName" type="xsd:string" />
						<xsd:element name="lastName" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="requestList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="start" type="xsd:integer"
							minOccurs="0" />
						<xsd:element name="size" type="xsd:integer" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="responseList" />

			<xsd:element name="tagRequestList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="start" type="xsd:integer"
							minOccurs="0" />
						<xsd:element name="size" type="xsd:integer" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="tagResponseList" />

			<xsd:element name="themeRequestList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="start" type="xsd:integer"
							minOccurs="0" />
						<xsd:element name="size" type="xsd:integer" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="themeResponseList" />

			<xsd:element name="eventRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string" minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="searchRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="start" type="xsd:integer"
							minOccurs="0" />
						<xsd:element name="size" type="xsd:integer" minOccurs="0" />
						<xsd:element name="fromDateStr" type="xsd:string"
							minOccurs="0" />
						<xsd:element name="sortForList" type="xsd:integer"
							minOccurs="0" />
						<xsd:element name="filter" type="xsd:string"
							minOccurs="0" />
						<xsd:element name="source" type="xsd:string"
							maxOccurs="unbounded" />
						<xsd:element name="tag" type="xsd:string" maxOccurs='unbounded' />
						<xsd:element name="themes" type="xsd:string"
							maxOccurs="unbounded" />
						<xsd:element name="lat" type="xsd:string" minOccurs="0" />
						<xsd:element name="lon" type="xsd:string" minOccurs="0" />
						<xsd:element name="radius" type="xsd:string"
							minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>



			<xsd:element name="eventTypeList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="event" maxOccurs="unbounded"
							minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="address" type="xsd:string" />
									<xsd:element name="category" type="xsd:string" />
									<xsd:element name="coordX" type="xsd:double" />
									<xsd:element name="coordY" type="xsd:double" />
									<xsd:element name="createdDate" type="xsd:string" />
									<xsd:element name="description" type="xsd:string" />
									<xsd:element name="eventDate" type="xsd:string" />
									<xsd:element name="eventoDate" type="xsd:string" />
									<xsd:element name="eventStart" type="xsd:string" />
									<xsd:element name="eventTiming" type="xsd:string" />
									<xsd:element name="id" type="xsd:string" />
									<xsd:element name="image" type="xsd:string" />
									<xsd:element name="shortAbstract" type="xsd:string" />
									<xsd:element name="source" type="xsd:string" />
									<xsd:element name="tags" type="xsd:string"
										minOccurs="1" maxOccurs="unbounded" />
									<xsd:element name="themes" type="xsd:string" />
									<xsd:element name="title" type="xsd:string" />
									<xsd:element name="toTime" type="xsd:long" />
									<xsd:element name="web" type="xsd:string" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>

			</xsd:element>

			<xsd:element name="eventType">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="address" type="xsd:string" />
						<xsd:element name="category" type="xsd:string" />
						<xsd:element name="coordX" type="xsd:double" />
						<xsd:element name="coordY" type="xsd:double" />
						<xsd:element name="createdDate" type="xsd:string" />
						<xsd:element name="description" type="xsd:string" />
						<xsd:element name="eventDate" type="xsd:string" />
						<xsd:element name="eventoDate" type="xsd:string" />
						<xsd:element name="eventStart" type="xsd:string" />
						<xsd:element name="eventTiming" type="xsd:string" />
						<xsd:element name="id" type="xsd:string" />
						<xsd:element name="image" type="xsd:string" />
						<xsd:element name="shortAbstract" type="xsd:string" />
						<xsd:element name="source" type="xsd:string" />
						<xsd:element name="tags" type="xsd:string" minOccurs="1"
							maxOccurs="unbounded" />
						<xsd:element name="themes" type="xsd:string" />
						<xsd:element name="title" type="xsd:string" />
						<xsd:element name="toTime" type="xsd:long" />
						<xsd:element name="web" type="xsd:string" />

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="greeting">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="greeting" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SayHelloInput">
		<wsdl:part name="person" element="types:person" />
	</wsdl:message>

	<wsdl:message name="SayHelloOutput">
		<wsdl:part name="greeting" element="types:greeting" />
	</wsdl:message>

	<wsdl:portType name="HelloWorld_PortType">
		<wsdl:operation name="sayHello">
			<wsdl:input message="tns:SayHelloInput" />
			<wsdl:output message="tns:SayHelloOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HelloWorld_SoapBinding" type="tns:HelloWorld_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="http://smartcommunitylab.it/trentorienta/sayHello" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HelloWorld_Service">
		<wsdl:documentation>Hello World service</wsdl:documentation>
		<wsdl:port name="HelloWorld_Port" binding="tns:HelloWorld_SoapBinding">
			<soap:address
				location="http://localhost:7016/trentorienta/soapservice/service/wsdl/service.wsdl" />
		</wsdl:port>
	</wsdl:service>


	<!-- OPERATION (GET SOURCE) -->
	<wsdl:message name="GetSourceInput">
		<wsdl:part name="requestList" element="types:requestList" />
	</wsdl:message>

	<wsdl:message name="GetSourceOutput">
		<wsdl:part name="responseList" element="types:responseList" />
	</wsdl:message>

	<wsdl:portType name="GetSource_PortType">
		<wsdl:operation name="getSourceList">
			<wsdl:input message="tns:GetSourceInput" />
			<wsdl:output message="tns:GetSourceOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="GetSource_SoapBinding" type="tns:GetSource_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getSourceList">
			<soap:operation
				soapAction="http://smartcommunitylab.it/trentorienta/getSourceList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="GetSource_Service">
		<wsdl:documentation>Get event sources</wsdl:documentation>
		<wsdl:port name="GetSource_Port" binding="tns:GetSource_SoapBinding">
			<soap:address
				location="http://localhost:7016/trentorienta/soapservice/service/wsdl/service.wsdl" />
		</wsdl:port>
	</wsdl:service>
	<!-- OPERATION (GET TAG) -->
	<wsdl:message name="GetTagInput">
		<wsdl:part name="tagRequestList" element="types:tagRequestList" />
	</wsdl:message>

	<wsdl:message name="GetTagOutput">
		<wsdl:part name="tagResponseList" element="types:tagResponseList" />
	</wsdl:message>

	<wsdl:portType name="GetTag_PortType">
		<wsdl:operation name="getTagList">
			<wsdl:input message="tns:GetTagInput" />
			<wsdl:output message="tns:GetTagOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="GetTag_SoapBinding" type="tns:GetTag_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getTagList">
			<soap:operation soapAction="http://smartcommunitylab.it/trentorienta/getTagList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="GetTag_Service">
		<wsdl:documentation>Get tags </wsdl:documentation>
		<wsdl:port name="GetTag_Port" binding="tns:GetTag_SoapBinding">
			<soap:address
				location="http://localhost:7016/trentorienta/soapservice/service/wsdl/service.wsdl" />
		</wsdl:port>
	</wsdl:service>
	<!-- OPERATION (GET THEME) -->
	<wsdl:message name="GetThemeInput">
		<wsdl:part name="themeRequestList" element="types:themeRequestList" />
	</wsdl:message>

	<wsdl:message name="GetThemeOutput">
		<wsdl:part name="themeResponseList" element="types:themeResponseList" />
	</wsdl:message>

	<wsdl:portType name="GetTheme_PortType">
		<wsdl:operation name="getThemeList">
			<wsdl:input message="tns:GetThemeInput" />
			<wsdl:output message="tns:GetThemeOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="GetTheme_SoapBinding" type="tns:GetTheme_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getThemeList">
			<soap:operation
				soapAction="http://smartcommunitylab.it/trentorienta/getThemeList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="GetTheme_Service">
		<wsdl:documentation>Get themes</wsdl:documentation>
		<wsdl:port name="GetTheme_Port" binding="tns:GetTheme_SoapBinding">
			<soap:address
				location="http://localhost:7016/trentorienta/soapservice/service/wsdl/service.wsdl" />
		</wsdl:port>
	</wsdl:service>
	<!-- OPERATION (GET EVENT) -->
	<wsdl:message name="GetEventInput">
		<wsdl:part name="eventRequest" element="types:eventRequest" />
	</wsdl:message>

	<wsdl:message name="GetEventOutput">
		<wsdl:part name="eventType" element="types:eventType" />
	</wsdl:message>

	<wsdl:portType name="GetEvent_PortType">
		<wsdl:operation name="getEvent">
			<wsdl:input message="tns:GetEventInput" />
			<wsdl:output message="tns:GetEventOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="GetEvent_SoapBinding" type="tns:GetEvent_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getEvent">
			<soap:operation soapAction="http://smartcommunitylab.it/trentorienta/getEvent" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="GetEvent_Service">
		<wsdl:documentation>Get Event</wsdl:documentation>
		<wsdl:port name="GetEvent_Port" binding="tns:GetEvent_SoapBinding">
			<soap:address
				location="http://localhost:7016/trentorienta/soapservice/service/wsdl/service.wsdl" />
		</wsdl:port>
	</wsdl:service>
	<!-- OPERATION (SEARCH EVENT) -->
	<wsdl:message name="SearchEventsInput">
		<wsdl:part name="searchRequest" element="types:searchRequest" />
	</wsdl:message>

	<wsdl:message name="SearchEventsOutput">
		<wsdl:part name="eventTypeList" element="types:eventTypeList" />
	</wsdl:message>

	<wsdl:portType name="SearchEvents_PortType">
		<wsdl:operation name="getAllEventsWithSearchRequest">
			<wsdl:input message="tns:SearchEventsInput" />
			<wsdl:output message="tns:SearchEventsOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SearchEvents_SoapBinding" type="tns:SearchEvents_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAllEventsWithSearchRequest">
			<soap:operation
				soapAction="http://smartcommunitylab.it/trentorienta/getAllEventsWithSearchRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SearchEvents_Service">
		<wsdl:documentation>Search Events</wsdl:documentation>
		<wsdl:port name="SearchEvents_Port" binding="tns:SearchEvents_SoapBinding">
			<soap:address
				location="http://localhost:7016/trentorienta/soapservice/service/wsdl/service.wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>